@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Inter", sans-serif;
}

:root {
    --para: 0.9 rem;
    --heading: 50px;
    --maincolour: #39DB4A;
}

.nav-RHS button {
    background-color: var(--maincolour);
    border: none;
    color: white;
    border-radius: 20px;
    padding: 6px 20px 6px 20px;
    font-size: var(--para);
}

.nav-sec ul {
    font-size: var(--para);
}

/* hero section  */
.hero-sec h1 {
    font-size: 3.4rem;
    font-weight: 700;
}

.hero-sec .para-rhs p {
    font-size: var(--para);
    color: #4A4A4A;
}

.hero-sec .hero-sec-lhs-btn .hero-sec-lhs-btn-1 {
    background-color: var(--maincolour);
    color: white;
    border: none;
    border-radius: 30px;
    font-size: var(--para);
    width: 25%;
    padding: 2%;
    font-weight: 600;
    letter-spacing: 1px;
}

.hero-sec .hero-sec-lhs-btn .hero-sec-lhs-btn-2 {
    background-color: transparent;
    color: #4D4D4D;
    border: none;
    border-radius: 30px;
    font-size: var(--para);
    width: 25%;
    padding: 2%;
    font-weight: 600;
    letter-spacing: 1px;
}

.hero-sec .color-bg-hero-sec {
    background-color: #39DB4A;
    width: 520px;
    height: 520px;
    border-radius: 50%;
    position: absolute;
    left: 58.5%;
    top: 24.6%;
    z-index: -1;
}

.hero-sec h3 {
    font-size: 1.2rem;
    color: black;
    font-weight: 600;
}

.popular-sec img {
    height: 70px;
    width: 70px;

}

.popular-sec .popular-sec-heading p {
    color: #FF6868;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
}

.popular-sec .popular-sec-heading h2 {
    font-weight: 700;
    font-size: 2.5rem;
    color: black;
}

.popular-sec .card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 30px;
}

.popular-sec .card .img-bg {
    background-color: #C1F1C6;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular-sec .card h3 {
    font-size: 1.2rem;
    color: black;
    font-weight: 700;

}

.popular-sec .card:hover {
    margin-top: -10px;
    transition: 0.6s !important;
}

.popular-sec .card p {
    color: #555555;
    font-size: var(--para);
}


/* Standout-section start */

.Standout-sec {
    margin-top: 5%;
    margin-bottom: 10%;
}

.Standout-sec .special-dishes {
    color: #FF6868;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.Standout-sec .dishes-heading {
    font-size: 3rem;
    font-weight: 700;
    width: 30%;
}

.Standout-sec .arrow-div .left-arrow {
    background-color: #EFEFEF;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.Standout-sec .arrow-div .left-arrow:hover {
    background-color: #c7b0b0;
    cursor: pointer;
}

.Standout-sec .arrow-div .right-arrow {
    background-color: #39DB4A;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.Standout-sec .arrow-div .right-arrow:hover {
    background-color: #7ed786;
    cursor: pointer;
}

.Standout-sec .card-design {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 35px;
}

.Standout-sec .card-design .design-vector {
    top: 22px;
    right: 30px;
}

.Standout-sec .card-design .card-details .salad {
    font-weight: 700;
}

.Standout-sec .card-design .card-image {
    height: 280px;
    width: 280px;
}

.Standout-sec .card-design .card-details .item {
    color: #555555;
    font-weight: 600;
    font-size: 1rem;
}

.Standout-sec .card-design .card-details .price {
    font-size: 1.4rem;
    font-weight: bold;
}

.Standout-sec .card-design .card-details .price1 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #454545;
}

/* standout-sec end */

/* customer-section start */

.Customer-section .chef-img {
    width: 100%;
}

.Customer-section .Feedback-section .Testimonials {
    font-size: 1rem;
    font-weight: 700;
    color: #FF6868;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.Customer-section .Feedback-section .about-us {
    font-size: 3.5rem;
    font-weight: 700;
}

.Customer-section .Feedback-section .about-us-para {
    font-size: 1.6rem;
    font-weight: 500;
    color: #555555;
}

.Customer-section .Feedback-section .Customer-Feedback-heading {
    font-size: 1.4rem;
    font-weight: 700;
}

.Customer-section .Feedback-section .Customer-para {
    font-size: 1.1rem;
}

/* customer-section end */

.our-stry-sec .our-stry-head .our-stry-para {
    color: #ff6868;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 1.1rem;
}

.our-stry-sec .our-stry-head h2 {
    font-size: 3.2rem;
    font-weight: 700;
}

.our-stry-sec .our-stry-head .our-stry-para-2 {
    color: #555555;
    font-size: 1.4rem;
    font-weight: 500;
}

.our-stry-sec .our-stry-head .explore-btn {
    background-color: #39DB4A;
    color: white;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    width: 29%;
    height: 9vh;
    padding: 1.5% 5%;

}

.our-stry-sec .our-story-card .card-logo {
    width: 25%;
}

.our-stry-sec .our-story-card h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #5FE26C;
    font-weight: 700;
}

.our-stry-sec .our-story-card p {
    font-size: 1.1rem;
    color: #90BD95;
    font-weight: 600;
    text-align: justify;

}

.our-stry-sec .our-story-card .card-div {
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 5%;
    height: 35vh;
    width: 90%;
    margin-bottom: 10%;
}

.savor-sec {
    margin-top: 7%;
}

.savor-sec p {
    font-size: 1.5rem;
    color: #555555;
    font-weight: 500;
}

.savor-sec ul li {
    font-size: 1.1rem;
    font-weight: 500;
}

.savor-sec .main-menu-list {
    justify-content: center;
}

.footer-sec .reserved {
    font-size: 1.2rem;
    padding-left: 10%;
    font-weight: 500;
}


#videoModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#videoModal video {
    max-width: 60%;
    max-height: 50%;
    border: 4px solid white;
    border-radius: 10px;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}



@media screen and (min-width:600px) {
    .hide-desktop {
        display: none;
    }
}

@media screen and (max-width:600px) {
/* 
    .hero-sec .color-bg-hero-sec {
    background-color: #39DB4A;
    transform: translateX(-50%);
} */

    .hide-mobile {
        display: none;
    }

    .hero-sec h1 {
        font-size: 2.1rem;
    }

    .hero-sec .hero-sec-lhs-btn .hero-sec-lhs-btn-2 {
        width: 35%;
    }

    .hero-sec .hero-sec-lhs-btn .hero-sec-lhs-btn-1 {
        width: 35%;
    }

    .hero-sec {
        padding-top: 15%;
    }

    .hero-sec .color-bg-hero-sec {
        width: 295px;
        height: 281px;
        left: 58.3%;
        top: 63.6%;

        transform: translateX(-50%);
    }

    .popular-sec .popular-sec-heading h2 {
        font-size: 1.8rem;
    }

    .Standout-sec .dishes-heading {
        width: 100%;
    }

    .Standout-sec .arrow-div {
        display: none !important;
    }

    .Standout-sec .card-design .design-vector {
        top: 17px;
        right: 23px;
    }

    .our-stry-sec .our-stry-head h2 {
        font-size: 2rem;

    }

    .our-stry-sec .our-stry-head .our-stry-para-2 {
        font-size: 1.4rem;
    }

    .our-stry-sec .our-stry-head .explore-btn {
        width: 45%;
    }

    .our-stry-sec .our-story-card .card-div {
        width: 100%;
    }

    .savor-sec p {
        font-size: 1.3rem;
    }

    .savor-sec .main-menu-list {
        justify-content: start;
    }

    .savor-sec ul li {
        font-size: 1.3rem;
    }

    .footer-sec .reserved {
        font-size: 1rem;
        padding-left: 0%;
    }

    .Customer-section .Feedback-section .about-us {
        font-size: 3.2rem;
    }

    .Customer-section .Feedback-section .Customer-para {
        font-size: 1rem;
    }

    .Vegetarian-sld {
        margin-top: 5%;
    }

    
}